DB_HOST=postgres
DB_PORT=5432

USER_DB_NAME=user_db
USER_DB_USERNAME=postgres
USER_DB_PASSWORD=user_password
USER_SERVER_PORT=8081

RESTAURANT_DB_NAME=restaurant_db
RESTAURANT_DB_USERNAME=postgres
RESTAURANT_DB_PASSWORD=restaurant_password
RESTAURANT_SERVER_PORT=8082

ORDER_DB_NAME=order_db
ORDER_DB_USERNAME=postgres
ORDER_DB_PASSWORD=order_password
ORDER_SERVER_PORT=8083

NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USERNAME=postgres
NOTIFICATION_DB_PASSWORD=notification_password
NOTIFICATION_SERVER_PORT=8084
